<div nz-row>
  <div nz-col nzSpan="24" style="text-align: center">
    <app-temp-hum-line-chart (temperatureStatsCreated)=add_cards_stats($event)></app-temp-hum-line-chart>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="6" style="text-align: center">
    <nz-card style="width: 100%" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="Maximum temperature"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar
        nzSrc= {{hot_temperature_icon}}
      ></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate>
      <h1>{{temperature_stats.max_temperature}}</h1>
    </ng-template>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <nz-card style="width: 100%" [nzCover]="coverTemplate1">
      <nz-card-meta
        nzTitle="Minimum temperature"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar
        nzSrc="https://thumbs.dreamstime.com/b/hot-weather-rgb-color-icon-summer-heat-seasonal-forecasting-meteorology-science-air-temperature-prediction-thermometer-sun-180835854.jpg"
      ></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate1>
      <h1>{{temperature_stats.min_temperature}}</h1>
    </ng-template>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <nz-card style="width: 100%" [nzCover]="coverTemplate2">
      <nz-card-meta
        nzTitle="Average temperature"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar
        nzSrc="https://thumbs.dreamstime.com/b/hot-weather-rgb-color-icon-summer-heat-seasonal-forecasting-meteorology-science-air-temperature-prediction-thermometer-sun-180835854.jpg"
      ></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate2>
      <h1>{{temperature_stats.average_temperature}}</h1>
    </ng-template>
  </div>
  <div nz-col nzSpan="6" style="text-align: center">
    <nz-card style="width: 100%" [nzCover]="coverTemplate3">
      <nz-card-meta
        nzTitle="Median temperature"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
      <nz-avatar
        nzSrc="https://thumbs.dreamstime.com/b/hot-weather-rgb-color-icon-summer-heat-seasonal-forecasting-meteorology-science-air-temperature-prediction-thermometer-sun-180835854.jpg"
      ></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate3>
      <h1>{{temperature_stats.mean_temperature}}</h1>
    </ng-template>
  </div>
</div>
